@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 0 0% 5%;
    --primary-foreground: 0 0% 93%;

    --secondary: 0 0% 98%;
    --secondary-foreground: 0 0% 7%;

    --accent: 71 100% 44%;
    --accent-foreground: 70 63% 45%;

    --destructive: 0 72% 41%;

    --border: 0 0% 53%;

    --background: 228 4% 75%;
    --muted: 0 0% 89%;
  }
}

@layer base {
  html {
    @apply bg-background text-primary;
  }
}


.hidden-scroll::-webkit-scrollbar {
  display: none;
}

.isometric-text {
  color: var(--text-color);
  opacity: .4;
  text-shadow:
  2px 2px 0px rgba(0, 0, 0, 0.4),
  -2px -2px 3px rgba(255, 255, 255, 0.4);
}